* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.element {
    display: block;
    min-width: 98vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.bg-image {
    display: block;
    height: 100vh;
    background-image: url("/images/hg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Blur*/
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#welcome h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px #f1f1f1;
}

h1 {
    background-color: rgba(0,0,0, 0.4);
    color: white;
    padding: 20px;
}

#search h1 {
    margin: 10px;
}

.beerCell {
    transition: .5s;
    position: relative;
    display: inline-block;
    background-color: white;
    width: 10vw;
    height: 10vw;
    margin: 5px;
    box-sizing: border-box;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.beerCell, .beerTitle {
    border-radius: 20px;
}

.beerTitle {
    color: white;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    opacity: 0;
    transition: .5s;
    height: 0%;
}

.beerCell:hover .beerTitle {
    opacity: 1;
    height: 100%;
}

#description {
    color: rgb(255, 255, 255);
    padding: 2vw;
    padding-top: 10%;
    position: fixed;
    transition: .5s;
    background-color: rgba(24, 24, 24, 0.829);
    opacity: 0;
    z-index: 1000;
    font-size: 2vh;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    padding-top: auto;
    padding-bottom: auto;
}

#breweriesInfos {
    margin-top: 10%;
}

#breweriesInfos ul {
    list-style: none;
}

.noDesc {
    color: rgb(187, 187, 187);
}

.a {
    cursor: pointer;
    display: inline-block;
    transition: .5s;
    background-color: rgb(104, 104, 255);
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

.actual {
    cursor: default;
    background-color: rgb(166, 160, 255);
}

.a:hover {
    background-color: rgb(58, 58, 255);
    margin: 15px;
    padding: 10px;
}

.beerCell:hover {
    width: 11vw;
    cursor: pointer;
}

/*.beerCell:hover .beerText {
    opacity: 1;
}*/

footer {
    background-color: rgb(165, 165, 165);
    padding: 50px;
    margin-top: 20px;
}
